LOCATE COMP "clk" SITE "P6";
IOBUF PORT "clk" IO_TYPE=LVCMOS33;
FREQUENCY PORT "clk" 25 MHZ;

# Led indicator
# LOCATE COMP "y" SITE "P11"; # V7.1
LOCATE COMP    "LEDS[0]" SITE "T6"; # 8.2
IOBUF PORT     "LEDS[0]" IO_TYPE=LVCMOS33;

# Reset button
# LOCATE COMP "a" SITE "M13"; # V7.1
LOCATE COMP    "resetn" SITE "R7"; # 8.2
IOBUF PORT     "resetn" PULLMODE=UP IO_TYPE=LVCMOS33 DRIVE=4;

# UART
LOCATE COMP    "TXD" SITE "C4";
IOBUF PORT     "TXD" IO_TYPE=LVCMOS33;
LOCATE COMP    "RXD" SITE "D4";
IOBUF PORT     "RXD" IO_TYPE=LVCMOS33;

BLOCK RESETPATHS;
BLOCK ASYNCPATHS;
