# LOCATE COMP "clk" SITE "P6";
# IOBUF PORT "clk" IO_TYPE=LVCMOS33;
# FREQUENCY PORT "clk" 25 MHZ;

# LOCATE COMP "a" SITE "M13"; # V7.1
LOCATE COMP "a" SITE "R7"; # 8.2
IOBUF PORT "a" IO_TYPE=LVCMOS33;

# LOCATE COMP "y" SITE "P11"; # V7.1
LOCATE COMP "y" SITE "T6"; # 8.2
IOBUF PORT "y" IO_TYPE=LVCMOS33;
