# CLOCK HW SIGNAL
LOCATE COMP "CLK" SITE "P6";
IOBUF PORT "CLK" IO_TYPE=LVCMOS33;
FREQUENCY PORT "CLK" 25 MHZ;

### START Colorlight v 8.2 ###
# LOCATE COMP "LEDS[0]" SITE "C4";
# LOCATE COMP "LEDS[1]" SITE "D4";
# LOCATE COMP "LEDS[2]" SITE "E4";
# LOCATE COMP "LEDS[3]" SITE "D3";
# LOCATE COMP "LEDS[4]" SITE "E3";
# LOCATE COMP "TXD" SITE "F3";    # uart
# LOCATE COMP "RXD" SITE "F1";    # uart
# LOCATE COMP "RESET" SITE "M4";  # reset
### END Colorlight v 8.2 ###

### START Colorlight v 7.1 ###
LOCATE COMP "LEDS[0]" SITE "J5";
LOCATE COMP "LEDS[1]" SITE "K2";
LOCATE COMP "LEDS[2]" SITE "B16";
LOCATE COMP "LEDS[3]" SITE "J14";
LOCATE COMP "LEDS[4]" SITE "F12";
LOCATE COMP "TXD" SITE "F3";    # uart
LOCATE COMP "RXD" SITE "F1";    # uart
LOCATE COMP "RESET" SITE "M13";  # reset
### END Colorlight v 7.1 ###

IOBUF PORT "LEDS[0]" IO_TYPE=LVCMOS33;
IOBUF PORT "LEDS[1]" IO_TYPE=LVCMOS33;
IOBUF PORT "LEDS[2]" IO_TYPE=LVCMOS33;
IOBUF PORT "LEDS[3]" IO_TYPE=LVCMOS33;
IOBUF PORT "LEDS[4]" IO_TYPE=LVCMOS33;

IOBUF PORT "TXD" IO_TYPE=LVCMOS33;
IOBUF PORT "RXD" IO_TYPE=LVCMOS33;

IOBUF PORT "RESET" IO_TYPE=LVCMOS33 PULLMODE=UP;
