# CLOCK HW SIGNAL
LOCATE COMP "CLK" SITE "P6";
IOBUF PORT "CLK" IO_TYPE=LVCMOS33;
FREQUENCY PORT "CLK" 25 MHZ;

LOCATE COMP "LEDS[0]" SITE "C4";
LOCATE COMP "LEDS[1]" SITE "D4";
LOCATE COMP "LEDS[2]" SITE "E4";
LOCATE COMP "LEDS[3]" SITE "D3";
LOCATE COMP "LEDS[4]" SITE "E3";

IOBUF PORT "LEDS[0]" IO_TYPE=LVCMOS33;
IOBUF PORT "LEDS[1]" IO_TYPE=LVCMOS33;
IOBUF PORT "LEDS[2]" IO_TYPE=LVCMOS33;
IOBUF PORT "LEDS[3]" IO_TYPE=LVCMOS33;
IOBUF PORT "LEDS[4]" IO_TYPE=LVCMOS33;
