LOCATE COMP "clk" SITE "P6";
IOBUF PORT "clk" IO_TYPE=LVCMOS33;
FREQUENCY PORT "clk" 25 MHZ;

# LOCATE COMP "led" SITE "P11"; # V7.1
LOCATE COMP "led" SITE "T6"; # 8.2
IOBUF PORT "led" IO_TYPE=LVCMOS33;
