# CLOCK HW SIGNAL
LOCATE COMP "CLK" SITE "P6";
IOBUF PORT "CLK" IO_TYPE=LVCMOS33;
FREQUENCY PORT "CLK" 25 MHZ;

LOCATE COMP "LEDS[0]" SITE "L2";
LOCATE COMP "LEDS[1]" SITE "K1";
LOCATE COMP "LEDS[2]" SITE "J5";
LOCATE COMP "LEDS[3]" SITE "K2";
LOCATE COMP "LEDS[4]" SITE "B16";

LOCATE COMP "TXD" SITE "F3";
LOCATE COMP "RXD" SITE "F1";

LOCATE COMP "RESET" SITE "G3";

IOBUF PORT "LEDS[0]" IO_TYPE=LVCMOS33;
IOBUF PORT "LEDS[1]" IO_TYPE=LVCMOS33;
IOBUF PORT "LEDS[2]" IO_TYPE=LVCMOS33;
IOBUF PORT "LEDS[3]" IO_TYPE=LVCMOS33;
IOBUF PORT "LEDS[4]" IO_TYPE=LVCMOS33;

IOBUF PORT "TXD" IO_TYPE=LVCMOS33;
IOBUF PORT "RXD" IO_TYPE=LVCMOS33;

IOBUF PORT "RESET" IO_TYPE=LVCMOS33;
